
  <div class="form-group">
       <small> To-Do List</small>
    <form role="form" id="todoform">
        <div class="row">
          <div class="col-sm-3">
            <input type="text" class="form-control"  required [(ngModel)]="worktodo" placeholder="Your Task" name="task">
          </div>
          <div class="col-sm-1">
          <button type="submit" (click)="onclick()" class="btn btn btn-primary form-control">Add</button>
          </div>
        </div>          
    </form> 
     <app-todocontent [todolist]="worklist" (deleteTask) = "handleDelete($event)"> </app-todocontent>
  </div>

