 <ul class="list-group">
      <li class="list-group-item" *ngFor="let todo of todolist"> 
        <div class="row">
        <div class="col-md-3 textwrap" >
           {{ todo.title }}
        </div>   
         <div class="col-md-3">
           <button type="button" class="btn-danger" (click)="onclick(todo)" >Delete</button>
        </div>      
        </div>
      </li>
</ul>