<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" [(ngModel)] = "user.username" type="text" required placeholder="username">
                    <input type="password" name="userpassword" [(ngModel)] = "user.password" required placeholder="password">
                    <button class="btn btn-info btn-block login"  (click) = "onLogin()" type="submit">Login</button>
                </form>
            </div>
        </div>        
</div>